<div class="container">
<p id="notice"><%= notice %></p>

<h3 class="all-items">All Items</h3>
<table class="table table-bordered" id="itemsAll">
  <thead>
    <tr class="active">
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th>Category</th>
      <th>Daily Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @items.each do |item| %>
      <tr class="active" >
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.user.email %></td>
        <td><%= item.category.name %></td>
        <td><%= item.prices %></td>
        <td><%= link_to 'Details', item, class:'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to new_item_path, class:'btn btn-default' do %>
  <i class="glyphicon glyphicon-plus"></i> New Item
<% end %>
</div>