<div class="container">
<p id="notice"><%= notice %></p>

<h3 class="all-items">All Items</h3>
<table class="table table-bordered" id="itemsAll">
  <thead>
    <tr class="active">
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th>Category</th>
      <th>Daily Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @items.each do |item| %>
      <tr class="active" >
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.user.email %></td>
        <td><%= item.category.name %></td>
<<<<<<< HEAD
        <td><%= item.prices %></td>
        <td><%= link_to 'Details', item, class:'btn btn-default' %></td>
=======
        <td><%= item.daily_price %></td>
        <td><%= item.weekly_price %></td>
        <td><%= item.monthly_price %></td>
        <td><%= link_to 'Show', item, class:'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_item_path(item), class:'btn btn-default' %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default' %></td>
>>>>>>> 4506f7204023f7421cebb5cd610661a7ed2b96d5
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to new_item_path, class:'btn btn-default' do %>
  <i class="glyphicon glyphicon-plus"></i> New Item
<% end %>
</div>