<p id="notice"><%= notice %></p>




<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>


<p>
  <strong>Weekly Price:</strong>
  <%= @item.weekly_price%>
</p>

<p>
  <strong>Monthly Price:</strong>
  <%= @item.monthly_price %>
</p>


<%= image_tag @item.image.url(:medium) %>




<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
